ul#examples-names {
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    padding-top: 30px;
    padding-bottom: 10px;

    transition: padding-top 1s;
}

a.example-name {
    color: #FC8;
    margin-right: 70px;
}

ul#examples-names li {
    display: inline-block;

    text-transform: uppercase;
    line-height: 22px;
    font-size: 1.17em;
    letter-spacing: 0.5px;
    padding-bottom: 8px;
}

ul#examples-names li:hover {
    color: #ffffaa;
    cursor: pointer;
    font-weight: bold;
}

ul#examples-names li.active {
    border-bottom: 1px solid #ffffaa;
    color: #ffffaa;
    font-weight: bold;
}

.left {
    right: 180px;
}

.box {
    width: 75%;
}

.box div {
    background: transparent;
}

.large {
    top: 20%;
    transition: top 1s;
}

h2#title {
    transition: font-size 1s;
}

.example-content {
    display: none;
    color: white;
    text-align: justify;
}

.code-section {
    position: relative;
    margin: 10px 0 ;
    border: 1px solid #c4c4c4;
    height: auto;
    overflow: auto;
    padding: 10px!important; 
}

.code-section ul {
    padding: 10px 0;
    position: relative;
    width: 100%;
    background-color: #e2e2e2; /*#e2e2cc*/
    color: black;
}

.code-section ul li {
    padding-left: 10px;
}

#menu {
    bottom: 0;
}

body {

    flex-direction: column;
    height: calc(100vh - 71px);
}

#cont {
    position: relative;
    -webkit-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    -o-flex: 1 1 auto;
    flex: 1 1 auto;
}

.it-text {
    font-style: italic;
}

.bold-text {
    font-weight: bold;
}

.img-container {
    width: 100%;
    text-align: center;
}

.img-container img {
    margin: 0 auto;
}