<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>ZenSheet website</title>
	<link rel="stylesheet" media="screen" href="css/a.css" />
</head>
<body>
	<div id="cont">
		<div class="box large left">
			<h2><b>ZenSheet</b></h2>
		    <h3><b>From &nbsp <a href="http://www.lakebolt.com/">Lakebolt Research</a></b></h3>
			<h3><b>Cloud Computing</b></h3>
			<ul>
			    <li>ZenSheet's compute engine provides a TCP-based API</li>
			    <li>The ZenSheet Web client uses the same API to deliver consistent performance</li>
			    <li>Multiple ZenSheet instances can be deployed on public and private clouds</li>
			    <li>Instances deployed on clusters can perform computations over large data sets</li>
			</ul>
		</div>
	</div>
	<div id="menu">
		<% include ./layout/menu %>
	</div>
	<div id="bg">
		<div>
			<table cellpadding="0" cellspacing="0">
				<tr><td><img src="http://i.imgur.com/Ee52hOo.jpg" alt=""/></td></tr>
			</table>
		</div>
	</div>
	<script type="text/javascript" src="js/core.js"></script>
	<script type="text/javascript" src="js/mootools.js"></script>
	<script type="text/javascript" src="http://www.google-analytics.com/urchin.js"> </script>
	<script type="text/javascript">	_uacct = "UA-43037679-2"; urchinTracker(); </script>
</body>
</html>
