<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>ZenSheet website</title>
	<link rel="stylesheet" media="screen" href="css/a.css" />
</head>
<body>
	<div id="cont">
		<div class="box large left">
			<h2><b>ZenSheet</b></h2>
		    <h3><b>From &nbsp <a href="http://www.lakebolt.com/">Lakebolt Research</a></b></h3>
			<h3><b>Contact Us:</b></h3>
			<ul>
    		<li>
                <a href="mailto:zensheet@lakebolt.com?subject=ZenSheet%20product%20information%20request&amp;body=Please%20send%20product%20info%20to%0AName%3A%0AEmail%3A%0APhone%20Number%3A%0A">
                    <b>Request product information</b>
                </a>
    		</li>
	    	<li>
                <a href="mailto:zensheet@lakebolt.com?subject=ZenSheet%20demo%20request&amp;body=Please%20contact%0AName%3A%0AEmail%3A%0APhone%20Number%3A%0A">
                    <b>Request a ZenSheet demo</b>
                </a>
    		</li>
	    	<li>
                <a href="mailto:zensheet@lakebolt.com?subject=ZenSheet%20licensing%20info%20request&amp;body=Please%20send%20licensing%20info%20to%0AName%3A%0AEmail%3A%0APhone%20Number%3A%0A">
                    <b>Request licensing information</b>
                </a>
    		</li>
	    	<li>
                <a href="mailto:zensheet@lakebolt.com?subject=Career%20Opportunities&amp;body=Please%20send%20career%20opportunities%20information%20to%0AName%3A%0AEmail%3A%0APhone%20Number%3A%0A">
                    <b>Career Opportunities</b>
                </a>
    		</li>
			</ul>
		</div>
	</div>
	<div id="menu">
		<h1><a href="/"><b>ZenSheet</b></a></h1>
		<div>
			<ul>
                <li><a href="/reactive">REACTIVE COMPUTING</a></li>
                <li><a href="/parallel">PARALLEL COMPUTING</a></li>
                <li><a href="/cloud">CLOUD COMPUTING</a></li>
                <li><a href="/live2017">LIVE 2017</a></li>
                <li><a href="/contact">CONTACT US - CAREERS</a></li>
			</ul>
		</div>
	</div>
	<div id="bg">
		<div>
			<table cellpadding="0" cellspacing="0">
				<tr><td><img src="http://i.imgur.com/Ee52hOo.jpg" alt=""/></td></tr>
			</table>
		</div>
	</div>
	<script type="text/javascript" src="js/core.js"></script>
	<script type="text/javascript" src="js/mootools.js"></script>
	<script type="text/javascript" src="http://www.google-analytics.com/urchin.js"> </script>
	<script type="text/javascript">	_uacct = "UA-43037679-2"; urchinTracker(); </script>
</body>
</html>
